In [70]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\Assigment\\Penalty'

In [71]:
os.listdir(os.getcwd())

['.ipynb_checkpoints', 'ML1_penalty_data.csv', 'Untitled.ipynb']

In [72]:
data1=pd.read_csv("ML1_penalty_data.csv", encoding='latin')

In [73]:
data1.head()

,No.,Match Week,Date,Player,Team,Versus,Match,Time of Penalty Awarded,Scored,Foot,Kick_Direction,Keeper_Direction
0,1,1,13-Aug-16,Riyad Mahrez,Leicester,Hull,Hull vs Leicester,47' minute,Scored,L,C,R
1,2,1,13-Aug-16,Sergio Agüero,Man City,Sunderland,Man City vs Sunderland,4' minute,Scored,R,L,L
2,3,1,14-Aug-16,Theo Walcott,Arsenal,Liverpool,Arsenal vs Liverpool,30' minute,Missed,R,L,L
3,4,1,15-Aug-16,Eden Hazard,Chelsea,West Ham,Chelsea vs West Ham,47' minute,Scored,R,C,L
4,5,2,19-Aug-16,Zlatan Ibrahimovic,Man United,Southampton,Man United vs Southampton,52' minute,Scored,R,L,R

In [74]:
data1.tail()

,No.,Match Week,Date,Player,Team,Versus,Match,Time of Penalty Awarded,Scored,Foot,Kick_Direction,Keeper_Direction
98,101,37,13-May-17,Gabriel Jesus,Man City,Leicester,Man City vs Leicester,36' minute,Scored,R,L,R
99,102,37,13-May-17,Shane Long,Southampton,Middlesbrough,Middlesbrough vs Southampton,64' minute,Missed,R,L,R
100,104,37,14-May-17,Luka Milivojevic,Crystal Palace,Hull,Crystal Palace vs Hull,85' minute,Scored,R,R,L
101,105,37,17-May-17,Manolo Gabbiadini,Southampton,Man United,Southampton vs Man United,6' minute,Missed,L,R,R
102,106,38,21-May-17,Romelu Lukaku,Everton,Arsenal,Arsenal vs Everton,58' minute,Scored,L,R,R

In [75]:
data1.drop(['Date'],1, inplace=True)

In [76]:
data1.head()

,No.,Match Week,Player,Team,Versus,Match,Time of Penalty Awarded,Scored,Foot,Kick_Direction,Keeper_Direction
0,1,1,Riyad Mahrez,Leicester,Hull,Hull vs Leicester,47' minute,Scored,L,C,R
1,2,1,Sergio Agüero,Man City,Sunderland,Man City vs Sunderland,4' minute,Scored,R,L,L
2,3,1,Theo Walcott,Arsenal,Liverpool,Arsenal vs Liverpool,30' minute,Missed,R,L,L
3,4,1,Eden Hazard,Chelsea,West Ham,Chelsea vs West Ham,47' minute,Scored,R,C,L
4,5,2,Zlatan Ibrahimovic,Man United,Southampton,Man United vs Southampton,52' minute,Scored,R,L,R

In [77]:
x= data1.values[:,0:10]
y=data1.values[:,10]

In [80]:
    x[:,2]=pd.factorize(x[:,2])[0]
    x[:,3]=pd.factorize(x[:,3])[0]
    x[:,4]=pd.factorize(x[:,4])[0]
    x[:,5]=pd.factorize(x[:,5])[0]
    x[:,6]=pd.factorize(x[:,6])[0]
    x[:,7]=pd.factorize(x[:,7])[0]
    x[:,8]=pd.factorize(x[:,8])[0]
    x[:,9]=pd.factorize(x[:,9])[0]

In [84]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=4)

In [85]:
from sklearn.linear_model import LogisticRegression
cf = LogisticRegression()

In [86]:
cf.fit(x_train, y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [88]:
y_pred=cf.predict(x_test)

In [89]:
print(y_pred)

['L' 'L' 'R' 'L' 'L' 'R' 'R' 'L' 'R' 'R' 'R' 'L' 'L' 'L' 'L' 'L' 'R' 'R'
 'R' 'R' 'R' 'L' 'L' 'L' 'L' 'L']